language: python
sudo: true
addons:
    postgresql: "9.6"

python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.7-dev" # 3.7 development branch
  - "3.8-dev" # 3.6 development branch
  - "nightly"

env:
  global:
    - ANYBLOK_DATABASE_NAME=travis_ci_test
    - ANYBLOK_DATABASE_USER=postgres
    - ANYBLOK_DATABASE_DRIVER=postgresql

matrix:
  include:
    - python: "pypy3.5"
    - env: ANYBLOK_DATABASE_DRIVER=postgresql+psycopg2cffi

virtualenv:
  system_site_packages: false

services:
  - postgresql
  - rabbitmq

install:
  - pip install -U pip
  - pip install wheel
  - if [[ $TRAVIS_PYTHON_VERSION == 'pypy3.5' ]]; then pip install psycopg2cffi; else pip install psycopg2; fi
  - pip install sqlalchemy
  - pip install flake8
  - pip install coverage
  - pip install nose
  - pip install coveralls
  - pip install .

before_script:
    - rabbitmqctl list_users

script:
  - flake8 anyblok_bus
  - psql -c 'create database travis_ci_test;' -U postgres
  - nosetests anyblok_bus/tests -v -s --with-coverage --cover-package=anyblok_bus
  
after_success:
  coveralls
