language: python
sudo: required
addons:
    postgresql: "9.6"

python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.7-dev" # 3.7 development branch
  - "3.8-dev" # 3.6 development branch
  - "nightly"

env:
  global:
    - ANYBLOK_DATABASE_NAME=travis_ci_test
    - ANYBLOK_DATABASE_USER=postgres
    - ANYBLOK_DATABASE_DRIVER=postgresql

matrix:
  include:
    - python: "pypy3.5"
      env: ANYBLOK_DATABASE_DRIVER=postgresql+psycopg2cffi

virtualenv:
  system_site_packages: false

services:
  - postgresql
  - rabbitmq

addons:
  apt:
      packages:
        - rabbitmq-server

          # before_install:
          #     - sudo apt-get update
          #     - echo "deb https://dl.bintray.com/rabbitmq/debian xenial main" | sudo tee /etc/apt/sources.list.d/bintray.rabbitmq.list
          #     - wget -O- https://www.rabbitmq.com/rabbitmq-release-signing-key.asc | sudo apt-key add -
          #     - sudo apt-get update
          #     - sudo apt-get install rabbitmq-server
          #     - sudo systemctl start rabbitmq-server.service


before_script:
    - wget http://localhost:15672/cli/rabbitmqadmin
    - chmod +x rabbitmqadmin
    - rabbitmqadmin list users

install:
  - pip install -U pip
  - pip install wheel
  - if [[ $TRAVIS_PYTHON_VERSION == 'pypy3.5' ]]; then pip install psycopg2cffi; else pip install psycopg2; fi
  - pip install sqlalchemy
  - pip install flake8
  - pip install coverage
  - pip install nose
  - pip install coveralls
  - pip install .

script:
  - flake8 anyblok_bus
  - psql -c 'create database travis_ci_test;' -U postgres
  - nosetests anyblok_bus/tests -v -s --with-coverage --cover-package=anyblok_bus
  
after_success:
  coveralls
